.menu-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  width: 380px;
  height: 100vh;
  background-color: $color-menu;
  left: -400px;
  transition: all ease 1s;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  z-index: 14;
}

.menu-list {
  margin-left: 45px;
}

.menu-item {
  color: $color-menu-item;
  margin-left: 30px;
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
  list-style: none;
  cursor: pointer;
  user-select: none;
}

.menu-item_active {
  color: $color-menu-active;
}

.menu-shadow_active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 14;
    background-color: #2d303a8f;
    transition: all ease 1s;
}

.menu-wrapper_open {
  left: 0;
}