$color-background: #c5c5c5;
$color-menu: #5a5a5a;
$color-menu-active: #ffffff;
$color-menu-item: #b1b1b1;
$color-description-background: #ececec;
$color-description-text: #464646;
$color-card-box-shadow: rgba(30,30,30,0.5);
$color-card-box-shadow-hover: rgba(30,30,30,0.7);
$color-switcher-background: #929292;
$color-switcher: #fff;
$color-switcher-active: #0a7f8f;



$desctop-width: 1300px;
$tablet-width: 768px;
$mobile-width: 375px;

$time-rotate-cards: 500ms;