.card {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 250px;
  margin: 10px;
  box-shadow: 0 0 10px $color-card-box-shadow;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 20px $color-card-box-shadow-hover;
}


.card__img {
  width: 100%;
  height: 200px;
  background-size: cover;
  transition-duration: 300ms;
}

.card__description {
  width: 100%;
  height: 35px;
  padding-top: 15px;
  background-color: $color-description-background;
  color: $color-description-text;
  text-align: center;
  font-weight: 600;
  user-select: none;
}

.rotate {
  z-index: 3;
  position: relative;
  width: 20px;
  height: 20px;
  bottom: 18px;
  left: 270px;
  opacity: 0.5;
  background-image: url("./../../assets/img/rotate-icon.png");
  background-size: cover;
}

.full-image {
  height: 250px;
}

.card__description_play {
  display: none;
}

.card__img_play {
  height: 250px;
  background-position: 50%;
}

// @media (hover: hover) {
//   .card:hover {
//     box-shadow: 0 0 10px $color-card-box-shadow;
//   }
// }