.card-scene {
  perspective: 800px;
  margin: 10px;
  width: 300px;
  height: 250px;
}

.card-container {
  transition: transform $time-rotate-cards; 
  transform-style: preserve-3d;
  box-shadow: 0 0 10px $color-card-box-shadow;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 20px $color-card-box-shadow-hover;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  height: 250px;
}

.card__back {
  position: fixed;
  left: 0;
  top: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card__img {
  width: 100%;
  height: 200px;
  background-size: cover;
  transition-duration: $time-rotate-cards;
}

.card__description {
  width: 100%;
  height: 35px;
  padding-top: 15px;
  background-color: $color-description-background;
  color: $color-description-text;
  text-align: center;
  font-weight: 600;
  user-select: none;
}

.rotate {
  position: relative;
  width: 20px;
  height: 20px;
  bottom: 19px;
  left: 270px;
  opacity: 0.5;
  background-image: url("../../src/assets/img/rotate-icon.png");
  background-size: cover;
}

.rotate_click {
  transform: rotateY(180deg);
}

.card__description_play {
  display: none;
}

.card__img_play {
  height: 250px;
  background-position: 50%;
}

.card-container_done {
  opacity: 0.5;
}


@media (hover: hover) {
  .card:hover {
    box-shadow: 0 0 10px $color-card-box-shadow;
  }
}